@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration:none;
  
}
body {
    background-color: white ;
}
.whole__body {
    padding: 32px;
}
/* Parent container */
.header-main  {
    width:100%;
    height: 44px;
    background-color: white;
    display: flex;
   
}
/* Parent container */


.header__main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
    
}
.header__main-img {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0 ;
}
.header__main-text {
    width:100px;
    height: 100%;
}
.header__text{
    font-size: 24px;
    margin:4px 16px 0 0;
}
.header__text:hover {
    color:#6415FF;
    transition: .3s;
}
.header__main-menu {
    width:50%;
    height: 100%;
    margin-left: 28%;
}
.header__main-menu li {
    list-style: none;
    display:inline-flex;
    margin:12px 8px 0 16px;
    font-size: 14px;
}
.menu__link  {
    margin: 0 14px;
    color: #243e63;
}
.menu__link:hover {
    color:#6415FF;
    transition: .3s;
    }
.menu__link-login {
    margin-left: 50px;
    color: #243e63;
}
.menu__link-login:hover {
    color:#6415FF;
    transition: .3s;
}
.header__main-button {
    width:12%;
    height: 100%;
   margin:2px 0 0 0;
}
.sign__up {
    background-color:#6415FF;
    font:14px;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    padding: 12px 32px;
    margin-left: 10px;
   
}

.section {
    width: 100%;
    display: flex;
    justify-content:center;
    padding: 96px 0;
    transform: scale(.9);
}
.first__paragraph-text {
    font-size: 48px;
    color: #1A202C;
   
}
.left__paragraph{
    margin: 32px 0;
    font-size:18px;
}
.input__box {
    border-radius: 9999px;
    border-width: 2px;
    padding: 20px 192px 20px 32px;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    margin-top: 0rem;
}
.get__started {
    position: absolute;
    margin-top: .3rem;
    width: 10rem;
    line-height: 1;
    background-color: #6415FF;
    color: #F7FAFC;
    padding: 16px;
    border-radius: 999px;
     margin-left: -10.5rem;
}

.purple {
color: #6415FF;
}
.first__paragraph {
    width:40%;
    margin-top: 40px;
}
.second__section {
    width:60%;
}
.twocolumn-img {
    max-height:100%;
    max-width:100%;
}
.our__customers {
    max-height:80%;
    max-width:80%;
    margin: 16px 0 0;

}
.trusted__customers {
    margin-top:3rem;
}
.first__paragraph-secondtext {
    color: #A0AEC0;
    font-size: 12px;
}


/*      SECOND SECTION
*/

.features {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.service {
    font-size: 48px;
    color: #243E63;
    display: flex;
    justify-content: center;

}
.Lorem {
 
   font-size: 18px; 
   display: flex;
   justify-content: center; 
   margin: 16px 0 0;
   
}
/*           
        NEXT PAGE

 */
 
 .three__columns-page {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
}
 .body__columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 96px 0;
 }
.secure {
    max-width:25%;
    display: flex;
    margin: 0 16px;
    padding: 16px 8px;
    text-align: left;

}

.image__container {

   height: 66px;
   width: 66px;
   display: inline-block;
   border:1px solid #CBD5E0;
   border-radius:9999px;
   padding: 1.25rem;
}

.secure__text {
    margin-left: 16px;
}
.secure__img {
    height: 24px;
    width: 24px;
}
.secure__large {
    font-size: 24px;
    margin-left: 12px;
    color: #243E63;
}
   


.secure__paragraph {
    color: #7C8BA1;
    margin:16px 0 0;
    padding:16px;
}
/* 
Third Space

*/
.block__one-header {
    font-size:16px;
}
.block__one-title {
    font-size: 48px;
    color :#243E63;
    margin:16px 0 0 ;
    
}
.block__one-blurb {
    color:#7C8BA1;
    font-size: 18px;
    margin:16px 0 0 ;
}
.learn__more {
    background-color:#6415FF;
    font:14px;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    padding: 12px 32px;
    margin: 32px 0 0 ;
}

.quality__work-container {

    display: flex;
  place-items: center;
  height: 100vh;
    max-width: 90%;
    margin-left: 4rem;;
    padding: 32px;

}
.quality__work-text {
    max-width:50%;
    padding: 0 3rem;
}
.quality__work-image {
    max-width: 50%;
}
.quality__image {
    border:1px solid #A0AEC0;
    transform: scale(0.6);
    margin: 4.0rem 0 0 -12rem;
} 

/* Fourth Page actual
*/
.fourthpage-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    max-width: 100%;
    padding:96px;
}
.fourth__page-text {
    margin-left: 10%;
}
.actual-img {
    max-width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fourth__page-imagepic {
    
    transform:scale(70%); 
    
    
}
.fourth__page {
    
    max-width:60%;
    align-items:center;
    justify-content: center;
}
.master__list {
    display: flex;
}
.register {
    
    color: #243e63;
    font-size: 20px;
    margin-top: 32px;
   }
   .register-text {
    font-size:14px;
    color: #718096;
    margin: 12px 0 0;
}
.list__number-actual {
    color: #CBD5E0;
    font-size: 36px;
    margin-top: 32px;
}
.line__two {
    font-size:48px;
    margin-top: 16px;
}
.section__text {
    margin-left: 24px;
}
.parent__list2 {
    display: flex;
}
/*
FIFTH PAGE
   */
   
   .two__columns-fifth-page {
    display: flex;
    
  }
   
   .text__column-fifth {
    max-width:50%
    
}
   .values {
    font-size: 16px;
    margin-left: 62px;
   }
   .principles {
    font-size: 48px;
    margin: 16px 0 0 62px;
   }
   .affordable__paragraph {
    font-size: 16px;
    color:#7C8BA1;
    margin: 32px 0 0 52px;
   }
   .fifth__column-paragragh {
    font-size: 16px;
    color:#7C8BA1;
    margin: 32px 0 0 0;
    padding:0 62px;

   }
   .fifth__column-paragragh2 {
    font-size: 18px;
    color:#7C8BA1;
    margin: 32px 0 0 0;

   }
   .row__fifth {
    display: flex;
   }
   .dollar_sign-text {
    display: flex;
    align-items: center;
   justify-content: left;
   }
   .dollar_sign-text{
    margin: 32px 32px 0 0;
    margin-left: 52px;
   }
   .dollar__text {
   font-size: 20px;
   margin-left: 12px;
   
   }
   .dollar__sign {
   height: 36px;
   width: 36px;
   border-radius: 50%;
  
   }
   .feather.feather-briefcase {
    background-color: #FEB2B2;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    padding:8px;
   }
   .professionalism__top {
    margin-left: 6rem;
   }
  
   .prototype {
    max-width:50%;
   
    
   }
   .prototype-img {
    transform: scale(.5);
    margin-left: -16rem;
    margin-top: -12rem;
    
   }
   .learn__more {
    background-color:#6415FF;
    font:14px;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    padding: 12px 32px;
    margin-left: 60px;
    margin-top: 48px;
   }
   /*  sixth page */

   .three__plans {
    display: flex;
   }

.randf__plans {
    display: flex;
    align-items: center;
    justify-content: center;

}
.reasonable {
    font-size:48px;
    color: #243E63
}
.pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 16px;
}
.sixth__paragraph  {
display: flex;
align-items: center;
justify-content: center;
margin:16px 0;  
} 
.sixth__paragraph-text {
    font-size:18px;
    color:#7C8BA1;
    text-align: center;
    max-width: 600px;
}




/*    next page
*/

    




 .container {
    display:flex;
    justify-content: space-around;

 } 

.column {
    flex: 0 0 30%;
    text-align:center;
    border:1px solid #A0AEC0;
    border-radius: 10px;
    justify-content: center;
    margin-top: 64px;
   
  
}
.column-two {
    flex: 0 0 30%;
    text-align:center;
    border:1px solid #A0AEC0;
    border-radius: 10px;
    justify-content: center;
    background-color:#6415FF;
    margin-top: 64px;
}
.plan__personal {
    justify-content: center;
    border-top:12px solid #9AE6B4;
    border-radius: 10px;
    padding-top: 32px;
}
.plan__business {
    justify-content: center;
    color:white;
    border-radius: 10px;
    padding-top: 32px;
}
.plan__enterprise {
    justify-content: center;
    border-top:12px solid #FEB2B2;
    border-radius: 10px;
    padding-top: 32px;

}

.duration__box {
   padding-bottom: 32px;
   border-bottom: 1px solid #A0AEC0 ;
}

.plan__price  {
    margin: 12px 0 0;
}
.price__personal {
    font-size: 48px;
    color: #1A202C;
}
.price__business {
    font-size: 48px;
    color: white;
}
.duration {
    font-size: 16px;
    color: #A0AEC0;

}
.duration-business {
    font-size: 16px;
    color: white;

}

.for__individuals-box {
    margin-top: 32px;
}

.for__individuals {
    font-size: 20px;
    color: #1A202C;
}
.for__businesses {
    font-size: 20px;
    color: white;
}
.template-box {
    margin-top: 20px;

}

.templates {
    color:#718096;
}
.templates-business{
    color: white;
}
.landing-box {
    margin-top: 20px;
}
.landing {
    color:#718096;
}
.landing-business {
    color: white;
}
.internal-pages {
    margin-top: 20px;
}
.internal {
    color:#718096;
}
.internal-business {
    color : white;
}
.assistance-level {
    margin-top: 20px;
    margin-bottom: 32px;
}
.assistance {
    color:#718096;
    
}
.assistance-business {
    color: white;
}

.buy__now-box {
    text-align: center;
    border-top: 1px solid #A0AEC0;
    padding:32px;
}
   
.buy__now {
    background-color:#9AE6B4;
    font:14px;
    color: #F7FAFC;
    border-radius: 32px;
    cursor: pointer;
    padding: 16px 64px;
    
    
}
.buy__now-two {
    background-color: white;
    font:14px;
    color: #6415FF;
    border-radius: 32px;
    cursor: pointer;
    padding: 16px 64px;
    
}
.buy__now-three {
    background-color: #FEB2B2;
    font:14px;
    color: white;
    border-radius: 32px;
    cursor: pointer;
    padding: 16px 64px;

}
/*
       TESTIMONIALS PAGE
*/
.container__eight {
    margin-top: 96px;
    display:flex;
   
     padding:0 32px;
     

}
.column__eight-left {
    max-width: 45%;
}
.column__eight-right {
    padding: 0 0 0 64px;

    
}
.love__us {
    transform:scale(.52);
    margin-left: -15.5rem;
}
.testimonials-title {
    font-size: 16px;
}
.our__clients {
    font-size: 48px;
    margin-top: 24px;
}
.our__clients-two {
    font-size: 18px;
    color: #7C8BA1;
    margin-top: 24px;
}
.rating_image {
    transform: scale(.4);
    margin: 16px 0 0 -4.4rem;
    
}
.amazing__user {
    font-size: 20px;
    color: #243E63
}
.last__paragraph {
    font-size: 16px;
    color:#4A5568;
    margin:16px 0 40px;
} 

.slick__charlotte-box {
    display: flex;
    align-items: center;

   
}


.charlotee-photo {
    width:80px;
    height:80px;
    border-radius:50%;
    overflow: hidden;
}
.charlottee__hale {
font-size:20px;
color: #243E63;
margin-left: 24px;
}
.charlottee__title {
    font-size:16px;
    color: #7C8BA1;
    margin-left: 24px;
}
.arrow__container {
    display: flex;
   margin-left: 13rem;
}

.left__arrow-section {
    width: 48px;
    height:48px;
    background-color:#EDF2F7;
    border-radius: 50%;
    margin: 0 12px;
    
}
.left__arrow-section img {
    transform: scale(.06);
    margin-left: -14.5rem;
    margin-top: -14.5rem;
}
.right__arrow-section {
    width: 48px;
    height:48px;
    background-color:#EDF2F7;
    border-radius: 50%;
    margin: 0 12px;
    
}
.right__arrow-section img {
    transform: scale(.06);
    margin-left: -14.5rem;
    margin-top: -14.5rem;
}
.r

/*
Slick Menu Start
*/
.single__column {
    margin-top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single__column-items {
    margin-top: 96px;
    text-align: center;
}

.faqs{
    margin-bottom: 16px;
}
.you__have-q {
    font-size:48px;
}
.and__we {
    font-size:18px;
    color: #7C8BA1;
    margin-top: 16px;
}
/* Start menu   */

.whole__menu {
   
    width:90%;
    height:100%;
    overflow-y:scroll;
    color:#2D3748;
     margin-top: 48px;
    min-height:0;
    display:inline-block;
   
    position:relative;

    transform: translate(10%, 0);
    background-color:white;
      
    padding: 10px;

}

.menu__itemq {
    margin-top: .5rem;
    max-height: .25rem;
    margin-left: .25rem;
    font-size: 22px;
    color:#2D3748
}

.menu__itema {
    margin:46px 0;
    font-size: 18px;
    position:relative;
    overflow:hidden;
    max-height:800px;
    color:#7C8BA1;
    opacity:1;
    transform: translate(0,0);
    z-index:2;

}
.menu__list {
    list-style:none;
}
.menu__item-list {
    position:relative;
    border-radius: 10px;
    margin-top:2rem;
    
    padding-top: 10px;
    padding-bottom: 4px;
    border-top: 1px solid white;
    background-color:#EDF2F7;
}
.menu__item-list:nth-of-type(1) {
    animation-delay: .5s;
}
.menu__item-list:nth-of-type(2) {
    animation-delay: .75s;
}
.menu__item-list:nth-of-type(3) {
    animation-delay: 1s;
}
.menu__item-list:last-of-type {
    padding-bottom: 4px;
}
ul li i {
    position:absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right:0;
}
ul li i:before, ul li i:after {
    content: "";
    position:absolute;
    background-color:#2D3748;
    width:3px;
    height:9px;
    margin-left: -.5rem;
}
ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
ul li input[type="checkbox"] {
    position:absolute;
    cursor:pointer;
     width:100%;
     height:100%;
     z-index:1;
     opacity:0;

}
ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity:0;
    transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}
.transition, ul li i:before, ul li i:after, p {
    transition: all .25s ease-in-out;
}
.flipIn, ul, li, h1 {
    animation: flipdown .5s ease both;
}

.no-select, h2 {
    -webkit-tap-highlight-color: #243e63;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select:none;
}
@keframes flipdown {
    0% {
        opacity: 0;
        transorm-origin: top center;
        transform: rotateX(-90deg);
       }
50% {
    opacity: 1;
    }
80% {
    transform:rotateX(8deg);
  }
  83% {
    transform:rotateX(6deg);
  }
  92% {
    transform:rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform:rotateX(0deg);
  }
}
/*
Last Part
*/
.decorator__container {
    background-color: #6415FF;
    padding:6rem 0;
    margin: 96px 1rem;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lastp__text {
    font-size: 30px;
    color:#F7FAFC;
    max-width: 36rem;
    padding: 0 32px;
}
.get__started-red {
    background-color:#F56565;
    font-size:18px;
    color: white;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    padding: 22px 40px;
    margin-right: 32px;
}
.get__started-red:hover {
    background-color:#f03c3c

}
.contact__us-white {
    background-color:#6415FF;
    color:white;
    font-size:18px;
    border: 1px solid white;
    border-radius:32px;
    cursor:pointer;
    padding: 20px 40px;
   
}
.contact__us-white:hover {
    background-color: white;
    color:#6415FF
}
/*   
Last Paragraph
*/
.footer__five-column {
    max-width: 100%;
    max-height:36rem;
    background-color: #6415FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
  padding-bottom: 4rem;
 
}
.main-column {
    padding: 10rem 0 2rem 12px;
  margin-left: 4px;
    color: #F7FAFC;
    font-size: 16px;
}
.main-column-list {
    color:#F7FAFC;
    font-size: 14px;
    margin:18px;
    padding-bottom: 2px;
}
