@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration:none;
  
}
body {
    background-color: white ;
}
.whole__body {
    padding: 32px;
}
/* Parent container */
.header-main  {
    width:100%;
    height: 44px;
    background-color: white;
    display: flex;
   
}
/* Parent container */


.header__main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
    
}
.header__main-img {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0 ;
}
.header__main-text {
    width:100px;
    height: 100%;
}
.header__text{
    font-size: 24px;
    margin:4px 16px 0 0;
}
.header__text:hover {
    color:#6415FF;
    transition: .3s;
}
.header__main-menu {
    width:50%;
    height: 100%;
    margin-left: 28%;
}
.header__main-menu li {
    list-style: none;
    display:inline-flex;
    margin:12px 8px 0 16px;
    font-size: 14px;
}
.menu__link  {
    margin: 0 14px;
    color: #243e63;
}
.menu__link:hover {
    color:#6415FF;
    transition: .3s;
    }
.menu__link-login {
    margin-left: 50px;
    color: #243e63;
}
.menu__link-login:hover {
    color:#6415FF;
    transition: .3s;
}
.header__main-button {
    width:12%;
    height: 100%;
   margin:2px 0 0 0;
}
.sign__up {
    background-color:#6415FF;
    font:14px;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    padding: 12px 32px;
    margin-left: 10px;
   
}

.section {
    width: 100%;
    display: flex;
    justify-content:center;
    padding: 96px 0;
    transform: scale(.9);
}
.first__paragraph-text {
    font-size: 48px;
    color: #1A202C;
   
}
.left__paragraph{
    margin: 32px 0;
    font-size:18px;
}
.input__box {
    border-radius: 9999px;
    border-width: 2px;
    padding: 20px 192px 20px 32px;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    margin-top: 0rem;
}
.get__started {
    position: absolute;
    margin-top: .3rem;
    width: 10rem;
    line-height: 1;
    background-color: #6415FF;
    color: #F7FAFC;
    padding: 16px;
    border-radius: 999px;
     margin-left: -10.5rem;
}

.purple {
color: #6415FF;
}
.first__paragraph {
    width:40%;
    margin-top: 40px;
}
.second__section {
    width:60%;
}
.twocolumn-img {
    max-height:100%;
    max-width:100%;
}
.our__customers {
    max-height:80%;
    max-width:80%;
    margin: 16px 0 0;

}
.trusted__customers {
    margin-top:3rem;
}
.first__paragraph-secondtext {
    color: #A0AEC0;
    font-size: 12px;
}


/*      SECOND SECTION
*/

.features {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.service {
    font-size: 48px;
    color: #243E63;
    display: flex;
    justify-content: center;

}
.Lorem {
 
   font-size: 18px; 
   display: flex;
   justify-content: center; 
   margin: 16px 0 0;
   
}
/*           
        NEXT PAGE

 */
 
 .three__columns-page {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
}
 .body__columns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 96px 0;
 }
.secure {
    max-width:25%;
    display: flex;
    margin: 0 16px;
    padding: 16px 8px;
    text-align: left;

}

.image__container {

   height: 66px;
   width: 66px;
   display: inline-block;
   border:1px solid #CBD5E0;
   border-radius:9999px;
   padding: 1.25rem;
}

.secure__text {
    margin-left: 16px;
}
.secure__img {
    height: 24px;
    width: 24px;
}
.secure__large {
    font-size: 24px;
    margin-left: 12px;
    color: #243E63;
}
   


.secure__paragraph {
    color: #7C8BA1;
    margin:16px 0 0;
    padding:16px;
}
/* 
Third Space

*/
.block__one-header {
    font-size:16px;
}
.block__one-title {
    font-size: 48px;
    color :#243E63;
    margin:16px 0 0 ;
    
}
.block__one-blurb {
    color:#7C8BA1;
    font-size: 18px;
    margin:16px 0 0 ;
}
.learn__more {
    background-color:#6415FF;
    font:14px;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    padding: 12px 32px;
    margin: 32px 0 0 ;
}

.quality__work-container {

    display: flex;
  place-items: center;
  height: 100vh;
    max-width: 90%;
    margin-left: 4rem;;
    padding: 32px;

}
.quality__work-text {
    max-width:50%;
    padding: 0 3rem;
}
.quality__work-image {
    max-width: 50%;
}
.quality__image {
    border:1px solid #A0AEC0;
    transform: scale(0.6);
    margin: 4.0rem 0 0 -12rem;
} 

/* Fourth Page actual
*/
.fourthpage-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    padding:96px 0;
}
.fourth__page-text {
    margin-left: 10%;
}
.actual-img {
    max-width:40%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fourth__page-imagepic {
    
    transform:scale(80%); 
    
    
}
.fourth__page {
    
    max-width:60%;
    align-items:center;
    justify-content: center;
}
.master__list {
    display: flex;
}
.register {
    
    color: #243e63;
    font-size: 20px;
    margin-top: 32px;
   }
   .register-text {
    font-size:14px;
    color: #718096;
    margin: 12px 0 0;
}
.list__number-actual {
    color: #CBD5E0;
    font-size: 36px;
    margin-top: 32px;
}
.line__two {
    font-size:48px;
    margin-top: 16px;
}
.section__text {
    margin-left: 24px;
}
.parent__list2 {
    display: flex;
}
/*
.section {
    max-width:50%;
display: flex;
align-items: center;
justify-content: center;
}

.list__number-actual {
    color: #CBD5E0;
    font-size: 36px;
    margin-top: 32px;
}  
.line__one {
    font-size: 16px;

}
.section__text {
    margin-top: 32px;
    margin-left: 32px;
}
.register-text{
    font-size:14px;
    color: #718096;
    margin: 12px 0 0;
}
/*
.paragraph__section {
    margin: 0 0 0 24px;
}

.list__number-actual {
    color: #CBD5E0;
    font-size: 36px;
    margin-top: 32px;
}

.list__number-actual3 {
    color: #CBD5E0;
    font-size: 36px;
    margin-top: 32px;
}
.register {
    list-style: none;
    color: #243e63;
    font-size: 20px;
    margin-top: 32px;
   }
 
   .register-text{
    font-size:14px;
    color: #718096;
    margin: 12px 0 0;
   }
   /*.fourth__page {
    display: flex;
    place-items: center;
    height: 100vh;
    max-width: 100%;
   }
   .fourth__page-image {
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 0 18rem 0;
   }
   .fourth__page-container {
    max-width: 50%;
   }
   .fourth__page-text {
    margin:0 0 18rem 0;

   }
   .fourth__page-imagepic {
    transform:scale(70%);
   }
*/
   /*
   This is the Fourth Page

   */
 
 
    /*

   .register {
    list-style: none;
   }
   .register-text{
    font-size:14px;
   }
   .fourth__page-list {
    margin: 0 0 16rem 0;
   }
   */
  
/* position:relative;
    margin: 0 0 0 -10rem;
   }


   .list__number {
    max-width:10%;
    background-color: #243e63;
   }

    .list__number-actual {
        color:#CBD5E0;
        font-size: 36px;
        
       }
    
       .paragraph__section {
        background-color: aqua;
        max-width:40%;
       }

       .register {
        list-style: none;
       
       }
       .register-text{
        font-size:14px;
       }
   */